* {
	font-family: monospace;
}

body {
	background-color: darkblue;
	color: white
}

a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	background-color: black;
	padding: 5px;

}